<section class="section">
  <div class="container">

    <h1 class="title has-text-centered">Cadastrar-se</h1>

    <%= render "form", person: @person %>

    <%= link_to "Voltar", people_path, class: "button is-fullwidth is-info mt-3" %>
  </div>
</section>
