<h1 class='title has-text-centered'>Pet Tag</h1>

<div class='columns'>
  <div class='column ml-0 has-text-centered home-background is-two-thirds pb-6 pt-6'>
    <%= image_tag "dog.png", width: 400, class: "mr-6" %>
  </div>
  <div class='column has-text-left'>
    <% if person_signed_in? %>
      
    <% else %>
      <h1 class="title">Cadastrar-se</h1>
      <%= link_to "Fazer cadastro", "people/sign_up", class: "button is-info is-medium pr-5 pl-5 mt-6" %>
    <% end %>
  </div>
</div>
