<h1 class='title has-text-centered'>Pet Tag</h1>

<div class='columns'>
  <div class='column ml-0 has-text-centered home-background is-two-thirds pb-6 pt-6'>
    <%= image_tag "dog.png", width: 400, class: "mr-6" %>
  </div>
  <div class='column has-text-left'>
    <h1 class='title'>Fazer cadastro</h1> 
    <button class='button is-info is-medium pr-6 pl-6 mt-6 has-text-centered'>Fazer Cadastro</button>
  </div>
</div>
