<h1 class='title has-text-centered'>Pet Tag</h1>

<div class='columns'>
  <div class='column is-two-fifths ml-0 has-text-centered has-background-info pb-6 pt-6'>
    <%= image_tag "dog.png", width: 400 %>
  </div>
  <div class='column is-two-fifths ml-0' >
    
  </div>
  <div class='column is-two-fifths ml-0'>
    
  </div>
</div>
