<h1>Editing Pet Registration</h1>

<%= render 'form', pet_registration: @pet_registration %>

<%= link_to 'Show', @pet_registration, class: "button is-fullwidth is-info mt-3" %>
<%= link_to 'Back', pet_registrations_path, class: "button is-fullwidth is-info mt-3" %>
