<% content_for :head do %>
  <%= stylesheet_link_tag "print" %>
<% end %>

<h1 class="title has-text-centered">TAG</h1>

<div class="circle-tag">
  <div class="has-text-centered">
    <p class="name-tag"> <b><%= @pet_registration.first_name %></b> </p>
    <p class="qrcode"><%= @svg.html_safe %></p>
    <p class="code-tag"> <%= @pet_registration.code %> </p>
  </div>
</div>

<div class="circle-tag">
  <div class="has-text-centered">
    <p class="link-tag"><b>https://pet-tag.com.br</b>
  </div>
</div>