<h1 class="title has-text-centered">TAG</h1>

<section class="section">
  <div class="container">
    <div class="lozenge-tag">
      <div class="tag-txt has-text-centered">
        <p class="name-tag title"> <%= @pet_registration.first_name %> </p>
          <%= @result %>
        <p class="code-tag"> <%= @pet_registration.code %> </p>
    </div>
  </div>
</section>
