/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

.logo {
  margin-top: 26px;
  margin-left: 26px;
  margin-right: 8px;
  padding-right: 12px;
}

div.control.select   {
  height: 72px;
}
.select2.select2-container   {
  width: 100% !important;
}

.home-background  {
  margin-right: 0;
  background-image: url("home_background.png");
  background-repeat: no-repeat;
}

.logo {
  margin-top: 26px;
  margin-left: 26px;
}

thead th  {
  background: rgb(255, 255, 255);
}

tbody tr  {
  background: rgb(255, 255, 255);
}

tr:hover .table-button   {
  display: inline-block !important;
  background-color: transparent;
}

.table-button   {
  display: none !important;
  font-size: 18px;
  padding: 0px 10px;
}

.profile-button {
  margin-top: 10px;
  padding-bottom: 0;
  padding-top: 0;
}

.profile-button:hover  {
  background-color: transparent !important;
}

.servico-button  {
  width: 16.5rem !important; 
  margin-top: 5rem;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.background-isinfo {
  background-color: #2793da;
}

.table-links:hover {
  background-color: transparent !important;
}

.cart-button:hover {
  background-color: transparent !important;
}

.guard {
  display: none;
}

.profile-photo {
  margin-left: 60px;
}

.seletor-square {
  width: 0;
  height: 0;
  border: 15px solid;
  border-color: red;
  margin: 0 0 0 10px;
}

.circle-tag {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 20px auto;
  background: #3298dc;
  -webkit-print-color-adjust: exact;
}

.name-tag {
  font-size: 50px;
  position: relative;
  top: 35px;
  color: white;
}

.code-tag {
  font-size: 30px;
  position: relative;
  top: 60px;
  color: white;
}

.link-tag {
  font-size: 25px;
  position: relative;
  top: 130px;
  color: white;
}

.qrcode {
  position: relative;
  top: 55px;
}

.navbar-search {
  position: relative;
  right: 10px;
}

.hidden {
  display: none !important;
}

div.select {
  display: block;
}
label.select {
  height: 24px !important;
}
div.select.control::after,
label.select::after {
  content: none !important;
}

.button-registration-navbar {
  color: #3298dc !important;
}
.button-registration-navbar:hover {
  background-color: white !important;
}

.button-login-navbar:hover {
  background-color: transparent;
}

.complete-profile-text {
  font-size: medium;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted transparent; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #3298dc;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 40%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #3298dc transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.button-tooltip {
  width: 830px !important;
}

.tooltip-link {
  color: white !important;
}

.tooltip-link:hover {
  color: white;
  background-color: transparent;
}

.footer-text {
  font-size: 14px;
  color: #fff;
}

.footer {
  background-color: #3298dc !important;
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.section {
  flex: 1;
}

.home-space {
  height: 137.333px;
  padding: 12px;
}
