<footer class="footer is-fixed-bottom">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <b class="footer-text">Pet Tag &copy;</b>
      </p>
    </div>
  </div>
</footer>